.header {
	padding: 15px 0;
	background-color: #1e1e1e;
	width: 100%;
	position: fixed;
	z-index: 100;
	top: 0;

	&-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #1e1e1e;
	}
	&-logo {
		cursor: pointer;

		@media screen and (max-width: 425px) {
			display: none;
		}
	}
	&-logo-mobile {
		@media screen and (min-width: 425px) {
			display: none;
		}
	}
	&-menu {
		@media screen and (max-width: 768px) {
			position: absolute;
			top: 0;
			transition: all 0.3s ease;
			left: -100%;
			background-color: #1e1e1e;
			width: 100vw;
			height: 100vh;
			z-index: -1;

			&.active {
				left: 0;
			}
		}
		&-list {
			display: flex;
			gap: 24px;

			&-item {
				cursor: pointer;

				a {
					color: #fff;
					text-decoration: none;
				}
			}

			@media screen and (max-width: 768px) {
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
			}
		}
	}
	&-interface {
		&-user-info {
			display: flex;
			align-items: center;
			gap: 8px;
			cursor: pointer;
			position: relative;

			.favourite-btn {
				background-color: transparent;
				background-color: rgba(232, 50, 50, 0.05);
				padding: 0;
				width: 40px;
				height: 40px;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.btn {
				height: 40px;
			}

			.user-interface {
				position: absolute;
				width: 100%;
				left: 0;
				top: 110%;
				background-color: #3c3c3c;
				border-radius: 10px;
				opacity: 0;
				visibility: hidden;
				transition: all 0.3s ease;

				&.active {
					opacity: 1;
					visibility: visible;
				}

				.user-menu {
					display: flex;
					flex-direction: column;

					&-item {
						padding: 8px 12px;
						border-radius: 10px;

						&:hover {
							background-color: #53535351;
						}

						text-align: center;
						&.logout {
							background-color: #ff4444;
						}
					}
				}
			}

			.user-data {
				display: flex;
				flex-direction: column;
				gap: 2px;

				.user-name {
					font-size: 14px;
				}

				.user-email {
					color: #b0b0b0;
					font-size: 14px;
				}
			}

			.user-avatar {
				width: 30px;
				height: 30px;
				border-radius: 30px;
			}

			@media screen and (max-width: 768px) {
				display: none;
			}
		}
		&-auth {
			display: flex;
			gap: 8px;

			.btn {
				padding: 10px 30px;
			}

			@media screen and (max-width: 768px) {
				display: none;
			}
		}
		&-menu {
			width: 30px;
			height: 20px;
			position: relative;

			&::after,
			&::before,
			span {
				width: 100%;
				height: 2px;
				border-radius: 2px;
				background-color: #fff;
				position: absolute;
				transition: all 0.3s ease;
			}
			&::after,
			&::before {
				content: "";
			}
			&::after {
				top: 0;
			}
			&::before {
				bottom: 0;
			}
			span {
				top: 50%;
				transform: translateY(-50%);
			}

			&.active {
				&::after {
					transform: rotate(-45deg);
					top: 50%;
				}
				&::before {
					top: 50%;
					transform: rotate(45deg);
				}
				span {
					opacity: 0;
				}
			}

			@media screen and (min-width: 768px) {
				display: none;
			}
		}
	}
}

.suggestions {
	background: url("../../../assets/Suggestions-bckg.png") no-repeat center;
	position: relative;
	z-index: 10;
	padding: 48px 0;
	background-size: cover;

	@media screen and (max-width: 425px) {
		padding: 24px 0;
	}

	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: linear-gradient(90deg, #3c3c3c 0%, rgba(60, 60, 60, 0) 100%);
		top: 0;
		left: 0;
		z-index: -1;
	}

	&-content {
		position: static;
		z-index: 10;
	}
	&-form {
		max-width: 650px;
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin-top: 24px;

		@media screen and (max-width: 425px) {
			margin-top: 16px;
		}
		@media screen and (max-width: 768px) {
			max-width: 100%;
		}

		&-textarea {
			height: 100px;
		}

		&-col {
			width: 100%;
			display: flex;
			gap: 12px;

			@media screen and (max-width: 768px) {
				flex-direction: column;
			}

			.input-wrapper {
				width: 100%;

				&.link-input {
					width: 60%;

					@media screen and (max-width: 768px) {
						width: 100%;
					}
				}
			}
			.btn {
				width: 30%;

				@media screen and (max-width: 425px) {
					width: 100%;
				}
			}
		}
	}
}
