.main-poster {
	// background: url("../../../assets/Selections-bckg.png") no-repeat center;
	background-size: cover !important;
	position: relative;

	&::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(90deg, #3c3c3c 0%, rgba(60, 60, 60, 0) 100%);
	}

	&-quote {
		max-width: 670px;

		.quote-text {
			margin: 0;
		}
	}

	&-content {
		padding: 120px 15px;
		position: relative;
		z-index: 2;
	}

	&-title {
		font-size: 62px;
		font-weight: 700;

		@media screen and (max-width: 425px) {
			font-size: 42px;
		}
	}
}

.quotes-list {
	margin: 24px auto;
	.quotes {
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin-top: 12px;
	}

	&-title {
		font-size: 46px;
		font-weight: 700;

		@media screen and (max-width: 768px) {
			font-size: 36px;
		}

		span {
			color: #e83232;
		}
	}
}

.quote-item {
	border-radius: 20px;
	padding: 12px 16px 16px;

	background: rgba(60, 60, 60, 0.2);
	backdrop-filter: blur(5.599999904632568px);

	@media screen and (max-width: 625px) {
		padding: 12px;
	}

	&-text {
		font-size: 18px;
		font-weight: 500;
		font-style: italic;

		@media screen and (max-width: 625px) {
			font-size: 16px;
			font-weight: 400;
		}
	}

	&-content {
		display: flex;
		justify-content: space-between;
		align-items: start;
		gap: 12px;

		@media screen and (max-width: 625px) {
			flex-direction: column;
			align-items: start;
			gap: 4px;
		}
	}

	&-interface {
		display: flex;
		align-items: center;
		gap: 12px;

		&-item {
			cursor: pointer;

			svg.active {
				path {
					fill: #e83232;
					stroke: #e83232;
				}
			}
		}
	}

	.comments-wrapper {
		margin-top: 12px;
		transition: all 0.3s ease;
	}

	&-comments {
		border-top: 1px solid #9191911f;
	}

	.no-comments {
		text-align: center;
		width: 100%;

		&-image {
			width: 200px;
		}

		&-title {
			font-size: 24px;
		}
		&-subtitle {
			max-width: 400px;
			margin: 12px auto 0;
		}
	}

	.comments-form {
		margin-top: 12px;
		display: flex;
		gap: 4px;
		width: 100%;
		justify-content: space-between;

		&-input {
			width: 100%;

			.input {
				border-radius: 10px;

				@media screen and (max-width: 625px) {
					height: 30px;
					padding: 4px 12px;
				}
			}
		}
	}
}
.quotes-group {
	margin-top: 12px;
	padding-bottom: 24px;
	border-bottom: 1px solid #9191911f;

	&-title {
		color: #919191;
		font-size: 24px;
		font-weight: 600;
		cursor: pointer;
	}
}
.comments-list {
	margin-top: 12px;

	&-title {
		margin-bottom: 12px;

		@media screen and (max-width: 625px) {
			font-size: 18px;
			margin-bottom: 0;
		}
	}
}
.comment-item {
	display: flex;
	gap: 8px;
	padding: 12px 0;

	&.author {
		.comment-item-user-name {
			color: #e83232;
		}
	}

	&-content {
		border-bottom: 1px solid #9191911f;
		padding-bottom: 12px;
		width: 100%;
	}

	&-text {
		@media screen and (max-width: 625px) {
			font-size: 12px;
		}
	}

	&-user {
		&-avatar {
			width: 35px;
			height: 35px;
			border-radius: 35px;
		}

		&-data {
			display: flex;
			align-items: center;
			gap: 4px;
			margin-bottom: 4px;
		}

		&-name {
			font-weight: 700;
			font-size: 12px;
		}

		&-createdAt {
			font-size: 12px;
			color: #91919185;
		}
	}
}
.send-button {
	.btn {
		width: 45px;
		height: 45px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		padding: 0;
		background-color: rgba(93, 93, 93, 0.4);
		border: 1px solid rgba(155, 155, 155, 0.9);

		&:focus {
			box-shadow: 0px 0px 1px 3px rgba(155, 155, 155, 0.4);
		}

		@media screen and (max-width: 625px) {
			height: 30px;
			width: 30px;
		}
	}
}
.author-interface {
	margin-top: 12px;
	display: flex;
	gap: 8px;

	&-item {
		cursor: pointer;
	}
}
